<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sayurin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sayurin.CartActivity"></activity>
        <activity android:name="com.example.sayurin.OrderActivity" />
        <activity android:name="com.example.sayurin.SettingActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/preferences" />

        <activity android:name="com.example.sayurin.MainActivity" />
        <activity android:name="com.example.sayurin.LoginActivity" />
        <activity android:name="com.example.sayurin.WelcomeActivity" />
        <activity android:name="com.example.sayurin.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>